# 06 Dictionaries

### Dictionaries and Sets

A list is a 1:1 mapping from int (starting at zero) to anything.

In [1]:
months = ['Jan', 'Feb', 'Mar']

In [2]:
int_to_month_list = [None] + months

In [3]:
int_to_month_list = [None, *months]  # Python >= 3.5

In [4]:
int_to_month_list

[None, 'Jan', 'Feb', 'Mar']

In [5]:
int_to_month_list[1]

'Jan'

In [6]:
int_to_month_list[2]

'Feb'

In [7]:
int_to_month_list[3]

'Mar'

  A dict is a 1:1 mapping from any hashable to anything.

In [8]:
int_to_month = {1: 'Jan', 2: 'Feb', 3: 'Mar'}

In [9]:
int_to_month

{1: 'Jan', 2: 'Feb', 3: 'Mar'}

In [10]:
int_to_month[1]

'Jan'

In [11]:
int_to_month[2]

'Feb'

In [12]:
int_to_month[3]

'Mar'

In [13]:
months

['Jan', 'Feb', 'Mar']

In [14]:
enumerate(months)

In [15]:
e = enumerate(months)

In [16]:
dir(e)

['__class__',
 '__class_getitem__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [17]:
next(e)

(0, 'Jan')

In [18]:
next(e)

(1, 'Feb')

In [19]:
month_to_int = {month: index + 1 for index, month in enumerate(months)}

In [20]:
month_to_int

{'Jan': 1, 'Feb': 2, 'Mar': 3}

In [21]:
month_to_int['Jan']

1

In [22]:
month_to_int['Feb']

2

In [23]:
month_to_int['Mar']

3

In [24]:
month_to_int['Apr']

KeyError: 'Apr'

In [25]:
month_to_int['Apr'] = 4

In [26]:
month_to_int['Apr']

4

In [27]:
month_to_int

{'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4}

In [28]:
'Feb' in month_to_int

True

In [29]:
month_to_int

{'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4}

In [30]:
1 in month_to_int

False

In [31]:
del month_to_int['Feb']

In [32]:
month_to_int

{'Jan': 1, 'Mar': 3, 'Apr': 4}

In [33]:
'Feb' in month_to_int

False

In [34]:
letters = {}

In [35]:
for c in 'mississippi':
    letters[c] = 1

In [36]:
letters

{'m': 1, 'i': 1, 's': 1, 'p': 1}

In [ ]:
letters.keys()

In [ ]:
dict.fromkeys('mississippi').keys()

In [ ]:
dict.fromkeys('mississippi', 'yes')

In [ ]:
{c: 1 for c in 'mississippi'}

In [ ]:
import collections

In [ ]:
int()

In [ ]:
letter_count = {}
letter_count['a']

In [ ]:
letter_count = collections.defaultdict(int)

In [ ]:
letter_count

In [ ]:
letter_count['m']

In [ ]:
letter_count

In [ ]:
for c in 'mississippi':
    letter_count[c] += 1

In [ ]:
letter_count

In [ ]:
letter_count.items()

In [ ]:
counts = collections.Counter('mississippi')

In [ ]:
counts

  Dictionary *views*, returned by ``.keys()``, ``.values()``, and ``.items()``, support iteration and membership tests:

In [ ]:
max(counts.values())

In [ ]:
'z' in counts.keys()

In [ ]:
set('mississippi')

In [ ]:
set('assiniboine')

In [ ]:
set('mississippi') - set('assiniboine')

In [ ]:
{c for c in 'mississippi' if not c in 'assiniboine'}

In [ ]:
set('assiniboine') ^ set('mississippi')  # In one but not both

In [ ]:
set('assiniboine') | set('mississippi')  # In either

In [ ]:
set('mississippi') == {'i', 'm', 'p', 's'}

In [ ]:
hash('one')

In [ ]:
hash('one')

In [ ]:
hash('two')

In [ ]:
tuple('xyz')

In [ ]:
hash(tuple('xyz'))

In [ ]:
list('xyz')

In [ ]:
hash(list('xyz'))

In [ ]:
{1: 'one', 2: 'two'}

In [ ]:
{(1,): 'one', (2,): 'two'}

In [ ]:
{[1]: 'one', [2]: 'two'}

### Exercises: Dictionaries and Sets

In [ ]:
d = {'Jan': 1, 'Feb': 2, 'Mar': 3}

In [ ]:
d['Feb']

In [ ]:
d['Apr'] = 4

In [ ]:
d.items()

In [ ]:
d.keys()

In [ ]:
d.values()

In [ ]:
d.pop('Jan')

In [ ]:
d

In [ ]:
d.popitem()

In [ ]:
d

In [ ]:
dict(Jan=1, Feb=2, Mar=3, Apr=4)

In [ ]:
dict(a1='Jan', a2='Feb')

In [ ]:
dict(1='Jan', 2='Feb')

In [ ]:
dict([(k, v + 1) for v, k in enumerate(
    'Jan Feb Mar Apr'.split())])

In [ ]:
[(k, v + 1) for v, k in enumerate(
    'Jan Feb Mar Apr'.split())]

Create a dictionary that maps the words 'dict', 'hash', 'map', and
'associative array' to 'dict'.
Write an expression that uses the dictionary.

In [ ]:
{'dict': 'dict', 'hash': 'dict'}['hash']

In [ ]:
dict.fromkeys('dict hash map'.split() + ['associative array'], 'dict')

In [ ]:
s1 = set(0, 1, 2)

In [ ]:
s1 = set([0, 1, 2])

In [ ]:
s3 = set('abc')

In [ ]:
s3

In [ ]:
0 in s1

In [ ]:
s2 = set(range(4))

In [ ]:
s1

In [ ]:
s2

In [ ]:
s1 < s2  # proper subset

In [ ]:
s1 <= s2

In [ ]:
s1 < s1

In [ ]:
s1 <= s1

In [ ]:
s1.symmetric_difference(set(range(1, 4)))

In [ ]:
help(s1.symmetric_difference)

### Dictionaries Example

Use functions as first class objects for a simple calculator.

In [ ]:
7+3

In [ ]:
import operator

In [ ]:
operator.add(7, 3)

In [ ]:
operator.add

In [ ]:
type(operator.add)

In [ ]:
expr = '7+3'

In [ ]:
lhs, op, rhs = expr

In [ ]:
lhs, op, rhs

In [ ]:
lhs, rhs = int(lhs), int(rhs)

In [ ]:
lhs, op, rhs

In [ ]:
op, lhs, rhs

In [ ]:
operator.add(lhs, rhs)

In [ ]:
if op == '+':
    operator.add(lhs, rhs)
if op == '-':
    operator.sub(lhs, rhs)

In [ ]:
ops = {
    '+': operator.add,
    '-': operator.sub,
    }

In [ ]:
ops[op] (lhs, rhs)

In [ ]:
def calc(expr):
    lhs, op, rhs = expr
    lhs, rhs = int(lhs), int(rhs)
    return ops[op] (lhs, rhs)

In [ ]:
calc('7+3')

In [ ]:
calc('9-5')

In [ ]:
calc('8/2')

In [ ]:
ops['/'] = operator.truediv

In [ ]:
calc('8/2')