# 01 Objects and Names

### Objects

In [1]:
import sys

In [2]:
sys.version

'3.9.5 (default, May 18 2021, 14:42:02) [MSC v.1916 64 bit (AMD64)]'

  Create objects via literals.

In [3]:
1 # Read Eval Print Loop aka REPL

1

In [4]:
3.14

3.14

In [6]:
'spam'

'spam'

In [5]:
[1, 2, 3]

[1, 2, 3]

In [6]:
(1, 2, 3)

(1, 2, 3)


  Everything in Python (at runtime) is an object and has:

  - a single *value*,
  - a single *type*,
  - some number of *attributes*,
  - one or more *base classes*,
  - a single *id*, and
  - (zero or) one or more *names* (in one or more namespaces).

Objects have types.

In [7]:
type(1)

int

In [8]:
int

int

In [11]:
type(3)

int

In [12]:
type(type)

type

In [13]:
type(3.14)

float

In [14]:
type('spam')

str

In [15]:
type([1, 2, 3])

list

In [16]:
type((1, 2, 3))

tuple

Objects have attributes.

In [17]:
True

True

In [20]:
True.__doc__

'bool(x) -> bool\n\nReturns True when the argument x is true, False otherwise.\nThe builtins True and False are the only two instances of the class bool.\nThe class bool is a subclass of the class int, and cannot be subclassed.'

In [21]:
print(True.__doc__)

bool(x) -> bool

Returns True when the argument x is true, False otherwise.
The builtins True and False are the only two instances of the class bool.
The class bool is a subclass of the class int, and cannot be subclassed.

In [22]:
'spam'.upper

In [23]:
callable('spam'.upper)

True

In [24]:
'spam'.upper()

'SPAM'

Objects have base classes.

In [25]:
len('spam') # TODO revisit this

4

In [26]:
'spam'.upper()

'SPAM'

In [27]:
'spam'.__len__()

4

In [29]:
import inspect

In [30]:
inspect.getmro(type('spam'))

(str, object)

In [31]:
inspect.getmro(type(True))

(bool, int, object)

Every object has one id (memory address in CPython).

In [32]:
id(3)

1770721601904

In [33]:
id(3.14)

1770802159376

In [34]:
id('spam')

1770802352304

Create or access objects calling an object (function, method, class, etc.).

In [35]:
abs

In [36]:
callable(abs)

True

In [37]:
abs(-3)

3

In [38]:
abs(3)

3

In [39]:
int

int

In [40]:
callable(int)

True

In [41]:
int(3.14)

3

### Names

  I'm not using `dir()` or `vars()` because of too much clutter in Jupyter.

In [42]:
dir()

['In',
 'Out',
 '_',
 '_10',
 '_11',
 '_12',
 '_13',
 '_14',
 '_15',
 '_16',
 '_17',
 '_18',
 '_2',
 '_20',
 '_22',
 '_23',
 '_24',
 '_25',
 '_26',
 '_27',
 '_3',
 '_30',
 '_31',
 '_32',
 '_33',
 '_34',
 '_35',
 '_36',
 '_37',
 '_38',
 '_39',
 '_4',
 '_40',
 '_41',
 '_5',
 '_6',
 '_7',
 '_8',
 '_9',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'exit',
 'get_ipython',
 'inspect',
 'quit',
 'sys']

In [43]:
%%writefile vars_ids.py
import pprint
__all__ = ['_vars_ids']
_CLUTTER = globals().copy()
def _vars_ids():
    """
    Show names, values, and ids, ignoring any existing names.
    """
    rows = [(key, repr(value), id(value))
            for key, value in globals().items()
            if key not in _CLUTTER and not key.startswith('_')]
    titles = ['name    value  id'.split(),
              '----    -----  --'.split()]
    for name, value, id_ in titles + rows:
        print('{:8.8}  {:8.8}  {}'.format(name, value, id_))

Writing vars_ids.py

In [44]:
# %load vars_ids.py
import pprint
__all__ = ['_vars_ids']
_CLUTTER = globals().copy()
def _vars_ids():
    """
    Show names, values, and ids, ignoring any existing names.
    """
    rows = [(key, repr(value), id(value))
            for key, value in globals().items()
            if key not in _CLUTTER and not key.startswith('_')]
    titles = ['name    value  id'.split(),
              '----    -----  --'.split()]
    for name, value, id_ in titles + rows:
        print('{:8.8}  {:8.8}  {}'.format(name, value, id_))

In [45]:
_vars_ids()

name      value     id
----      -----     --

In [46]:
a = 300

In [47]:
_vars_ids()

name      value     id
----      -----     --
a         300       1770802542800

In [49]:
a

300

In [50]:
a = 300

In [51]:
_vars_ids()

name      value     id
----      -----     --
a         300       1770802542512

In [52]:
a

300

In [81]:
b

NameError: name 'b' is not defined

In [82]:
a = 400

In [83]:
_vars_ids()

name      value     id
----      -----     --
c         400       1770802543568
a         400       1770802544528

In [84]:
a

400

In [85]:
b = a

In [86]:
b

400

In [87]:
a

400

In [88]:
a is b

True

In [89]:
_vars_ids()

name      value     id
----      -----     --
c         400       1770802543568
a         400       1770802544528
b         400       1770802544528

In [90]:
c = 400

In [91]:
a is c

False

In [92]:
_vars_ids()

name      value     id
----      -----     --
c         400       1770802544560
a         400       1770802544528
b         400       1770802544528

In [93]:
# Stopped here week 1

In [94]:
id(a)

1770802544528

In [95]:
id(b)

1770802544528

In [96]:
a = 'ABCdefghijklmnopqrstuvwxz'

In [97]:
a

'ABCdefghijklmnopqrstuvwxz'

In [98]:
b

400

In [99]:
_vars_ids()

name      value     id
----      -----     --
c         400       1770802544560
a         'ABCdefg  1770803026400
b         400       1770802544528

In [100]:
del a

In [101]:
_vars_ids()

name      value     id
----      -----     --
c         400       1770802544560
b         400       1770802544528

In [102]:
del b

In [103]:
_vars_ids()

name      value     id
----      -----     --
c         400       1770802544560

In [104]:
del c

In [105]:
_vars_ids()

name      value     id
----      -----     --

Use == to check equality, not 'is'!

In [106]:
i = 10

In [107]:
j = 10

In [108]:
i == j

True

In [109]:
i is j

True

In [110]:
i == j, i is j

(True, True)

In [111]:
_vars_ids()

name      value     id
----      -----     --
i         10        1770721602128
j         10        1770721602128

In [112]:
i = j = 500

In [113]:
_vars_ids()

name      value     id
----      -----     --
i         500       1770802158160
j         500       1770802158160

In [114]:
i == j, i is j

(True, True)

In [115]:
i = 500

In [116]:
j = 500

In [117]:
i == j, i is j

(True, False)

In [118]:
_vars_ids()

name      value     id
----      -----     --
i         500       1770803290224
j         500       1770803290480

In [119]:
1 & 8

0

In [120]:
1 | 8

9

In [121]:
f'{1:08b}'

'00000001'

In [122]:
f'{8:08b}'

'00001000'

# dir()

In [123]:
math

NameError: name 'math' is not defined

In [124]:
import math

In [125]:
math

In [126]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [127]:
math.pi

3.141592653589793

In [128]:
math.nan

nan

In [129]:
type(math.nan)

float

In [130]:
i is i

True

In [131]:
math.nan == math.nan, math.nan is math.nan

(False, True)

### Exercises: Objects and Names

In [141]:
# %load vars_ids.py
import pprint
__all__ = ['_vars_ids']
_CLUTTER = globals().copy()
def _vars_ids():
    """
    Show names, values, and ids, ignoring any existing names.
    """
    rows = [(key, repr(value), id(value))
            for key, value in globals().items()
            if key not in _CLUTTER and not key.startswith('_')]
    titles = ['name    value  id'.split(),
              '----    -----  --'.split()]
    for name, value, id_ in titles + rows:
        print('{:8.8}  {:8.8}  {}'.format(name, value, id_))

In [142]:
i

1

In [143]:
_vars_ids()

name      value     id
----      -----     --

In [144]:
i = 1

In [145]:
i

1

In [146]:
_vars_ids()

name      value     id
----      -----     --

In [147]:
type(i)

int

In [148]:
j = i

In [149]:
i == j

True

In [150]:
i is j

True

In [151]:
m = n = [1, 2, 3]

In [152]:
m

[1, 2, 3]

In [153]:
n

[1, 2, 3]

In [154]:
m is n

True

In [159]:
_vars_ids()

name      value     id
----      -----     --
m         [1, 'B',  1770802258496
n         [1, 'B',  1770802258496

In [160]:
m[1] = 'B'  # Does this change the namespace?

In [161]:
type(m)

list

In [162]:
m

[1, 'B', 3]

In [163]:
n

[1, 'B', 3]